@charset "UTF-8";

.grid-container .grid-item .sasd1s {
  height: 100%;
}

.lazyload,
.lazyloaded {
  width: 100%;
  display: block;
}

.font-fm {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
}

#main-contents .container-fluid {
  padding: 0;
}

.padTop {
  padding-top: 80px;
}

.padBottom {
  padding-bottom: 80px;
}

.pid-bg {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.pid-bg p {
  color: #E9E9E9;
  font-size: 20px;
}

.pid-bg .pid-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 50px;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.line-bc3d1d {
  margin-bottom: 15px;
  padding: 0 5px;
}

.line-bc3d1d span {
  font-size: 55px;
  background: linear-gradient(transparent 70%, #bc3d1d 30%);
  background-repeat: no-repeat;
  background-position: 0 30px;
  display: inline-block;
  transition: background-size 0.3s ease-in-out;
  background-size: 100% 25px;
}

.font-si {
  font-size: 36px;
  color: #fff;
  display: flex;
  align-items: center;
}

.line {
  width: 94px;
  height: 8px;
  background: #BC3D1D;
  margin: 15px 0;
}

.font-si svg {
  margin: 0 10px;
  width: 100px;
  height: auto;
}

.media-bg {
  position: relative;
}

.media-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  /* align-items: flex-end; */
  overflow: hidden;
}

.mediaimg {
  margin: 20px 0;
}

.slideContent {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem 0;
}

.media-mySwiper {
  overflow: hidden;
}

.media-mySwiper .swiper-slide div {
  color: #E9E9E9;
  padding: 0 60px;
  font-size: 24px;
}

.media-mySwiper .swiper-slide p {
  margin-top: 30px;
}

.media-mySwiper .swiper-slide div b {
  font-size: 26px;
  color: #BC3D1D;
}

.media-mySwiper .swiper-slide div b::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #BC3D1D;
  margin: 0 10px 7px 0;
}

.media-mySwiper .icon {
  width: 40px;
  height: 40px;
  padding: 7px;
}

.media-mySwiper .swiper-button-prev,
.media-mySwiper .swiper-button-next {
  color: #fff;
  background-color: #BC3D1D;
  border-radius: 50%;
  width: auto;
  height: auto;
}

/* swiper初始 */

.media-mySwiper .swiper-button-prev::after {
  content: "";
}

.media-mySwiper .swiper-button-next::after {
  content: "";
}

.baheyi-content {
  border: 1px solid #606060;
  border-bottom: 10px solid #BC3D1D;
  padding: 30px;
  min-height: 274px;
  background-color: #fff;
}

.baheyi-img {
  margin: 20px 0 0 0;
}

.baheyi-big-bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/9b7eb5cdccc0dfebfc15eaf6c7fc15d4.jpg?v=1681786716");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.grid-mySwiper,
.why-mySwiper {
  width: 100%;
}

.why-big-bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/9b7eb5cdccc0dfebfc15eaf6c7fc15d4_850c1673-025f-487c-9538-d838e105385d.jpg?v=1681797787");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.cs-big-bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/a8c55da66dbbf09594b533b7c0561861.jpg?v=1681807563");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.why-big-bg h2 {
  color: #fff;
}

.why-mySwiper {
  color: #fff;
  text-align: left;
}

.why-mySwiper .grid-item {
  padding: 0;
}

.grid-mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
.why-mySwiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 6px;
  border-radius: 0;
  width: 20%;
  background-color: #606060;
  opacity: 1;
}

.grid-mySwiper .swiper-pagination-bullet-active,
.why-mySwiper .swiper-pagination-bullet-active {
  background-color: #BC3D1D !important;
}

.grid-pagination,
.why-swiper-paginationt {
  text-align: center;
  margin: 10px 0;
}

.cs-content {
  position: relative;
}

.cs-content .buttons {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.cs-content img.active {
  opacity: 1;
}

.cs-content .button {
  padding: 5px;
  background-color: #000;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;
  outline: none;
  border: 0;
  border-radius: 5px;
  width: 106px;
}

.reds {
  background-color: #bc3d1d !important;
}

.blacks {
  background-color: #000 !important;
}

.box-2,
.box-3 {
  padding: 20px;
  border: 1px solid #606060;
  border-bottom: 10px solid #BC3D1D;
  text-align: center;
  background-color: #fff;
}

.rl-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33.33%;
  border-bottom: 1px solid #606060;
}

.rl-content img {
  width: 66px;
}

.rl-content b {
  font-size: 36px;
}

.rl-content span {
  font-size: 18px;
}

.rl-content p {
  margin: 0;
  text-align: left;
  line-height: 19px;
}

.rl-box {
  height: 100%;
}

.box-3 h3 {
  color: #BC3D1D;
  text-transform: uppercase;
  font-size: 36px;
}

.flex-cs {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.gray-color {
  background-color: #f1f2f4;
}

.white-color {
  background-color: #fff;
  color: #BC3D1D;
}

.sad123 {
  margin: 20px 0;
}

.grid-text h3 {
  letter-spacing: -1px;
}

@media screen and (min-width: 769px) {
  .cs-container {
    display: grid;
    grid-template-columns: 40% 15% 45%;
    grid-gap: 15px;
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .grid-container .item1 {
    grid-column: 1/span 2;
    grid-row: 1;
  }

  .grid-container .item2 {
    grid-column: 3;
    grid-row: 1;
  }

  .grid-container .item3 {
    grid-column: 4;
    grid-row: 1;
  }

  .grid-container .item4 {
    grid-column: 1;
    grid-row: 2;
  }

  .grid-container .item5 {
    grid-column: 2;
    grid-row: 2;
  }

  .grid-container .item6 {
    grid-column: 3/span 2;
    grid-row: 2;
  }

  .grid-item {
    background-color: #fff;
    position: relative;
  }

  .grid-text h3 {
    font-size: 36px;
  }

  .grid-text p {
    font-size: 18px;
  }

  .sasd1s img {
    height: 100%;
  }

  .grid-text {
    position: absolute;
    bottom: 30px;
    color: #E9E9E9;
    left: 20px;
    display: flex;
    bottom: 0;
    align-items: baseline;
  }

  .grid-text div {
    min-height: 200px;
  }

  .baheyi-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    text-align: center;
  }

  .baheyi-abso {
    position: relative;
  }

  .big-text {
    font-size: 110px;
    color: #bc3d1d;
  }

  .baheyi-bg {
    padding: 20px;
    background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/d09594dead59b51cb077e6fbaae5c993.jpg?v=1681728773");
    background-size: cover;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
  }

  .baheyi-bg h3 {
    font-size: 36px;
  }

  .box {
    text-align: center;
  }

  .box1 {
    grid-column: 1/2;
  }

  .box2 {
    grid-column: 2/3;
  }

  .box3 {
    grid-column: 3/4;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .slideContent {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 0;
  }

  .media-content {
    display: block;
  }

  .media-mySwiper .swiper-slide p {
    margin-top: 20px;
  }

  .media-mySwiper .swiper-slide div b {
    font-size: 20px;
    color: #BC3D1D;
  }

  .media-mySwiper .swiper-slide div {
    padding: 0 50px;
    font-size: 16px;
  }

  .mediaimg {
    margin: 10px;
  }

  .slideContent {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem 0;
  }

  .font-si {
    font-size: 25px;
  }

  .font-si svg {
    margin: 0 10px;
    width: 60px;
    height: auto;
  }

  .line-bc3d1d span {
    display: inline;
    font-size: 36px;
    background-position: 0 14px;
    line-height: 45px;
    background-size: 100% 19px;
  }

  .pid-bg p {
    font-size: 15px;
  }

  .grid-text h3 {
    font-size: 28px;
  }

  .grid-text p {
    font-size: 15px;
  }

  .baheyi-bg {
    top: 50px;
  }

  .big-text {
    font-size: 80px;
  }

  .baheyi-content {
    min-height: 247px;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-text {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  #main-contents .page-width {
    padding: 0 !important;
  }

  .media-mySwiper img {
    display: block;
  }

  .line-bc3d1d span {
    display: inline;
    font-size: 32px;
    background-position: 0 14px;
    line-height: 45px;
    background-size: 100% 19px;
  }

  .padTop {
    padding-top: 40px;
  }

  .padBottom {
    padding-bottom: 40px;
  }

  .pid-bg {
    text-align: center;
    display: flex;
    align-items: baseline;
  }

  .pid-bg .pid-content {
    width: 100%;
    padding: 50px 30px;
    align-items: baseline;
  }

  .font-si {
    font-size: 24px;
  }

  .pid-bg p {
    color: #E9E9E9;
    font-size: 15px;
  }

  .font-si svg {
    width: 65px;
    margin: 0 5px;
  }

  .line {
    width: 64px;
    height: 5px;
    background: #BC3D1D;
    margin: 15px 0;
  }

  .grid-item {
    background-color: #fff;
    position: relative;
    padding: 0 10px;
    margin-bottom: 7px;
  }

  .grid-text h3 {
    font-size: 26px;
  }

  .grid-text p {
    font-size: 15px;
  }

  .grid-text {
    position: absolute;
    bottom: 30px;
    color: #E9E9E9;
    left: 20px;
    display: flex;
    height: 100%;
    bottom: 20px;
    align-items: flex-end;
  }

  .baheyi-bg h3 {
    font-size: 26px;
    color: #BC3D1D;
  }

  .baheyi-bg p {
    font-size: 15px;
  }

  .baheyi-content {
    min-height: 170px;
    padding: 20px;
  }

  .baheyi-bg {
    top: 0px;
  }

  .media-content {
    position: relative;
    display: block;
  }

  .slideContent {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 3rem 0;
    background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/ICON_8d73440c-e305-4245-bf41-1df841583c5a.jpg?v=1681719765");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 10px;
  }

  .media-mySwiper .swiper-slide p {
    margin-top: 20px;
  }

  .media-mySwiper .swiper-slide div b {
    font-size: 20px;
    color: #BC3D1D;
  }

  .media-mySwiper .swiper-slide div {
    padding: 0 50px;
    font-size: 16px;
  }

  .media-mySwiper {
    margin: 30px 0;
    width: 100%;
  }

  .mediaimg {
    margin: 0;
  }

  .media-mySwiper .icon {
    width: 30px;
    height: 30px;
    padding: 4px;
  }

  .slideContent img {
    padding: 0 10px;
  }

  .baheyi-big-bg {
    padding: 0 10px;
  }

  .cs-container {
    padding: 0 10px;
  }

  .rl-box {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .rl-content {
    display: block;
  }

  .rl-content p {
    text-align: center;
  }

  .rl-content b {
    font-size: 26px;
  }

  .box-2 {
    margin: 10px 0;
  }

  .flex-cs div {
    text-align: left;
    width: 50%;
  }
}

.wh-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
  text-align: center;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: flex-end;
}

.wh-container .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  /* 设置子元素高度为容器高度的百分比 */
}

.wh-container .item img {
  flex: 1;
  /* 图片元素占据剩余空间 */
}

.wh-container .item p {
  flex: 1;
  margin: 0;
  /* 去除段落的默认上下边距 */
}

.befores {
  background-color: #bc3d1d;
  border-radius: 50%;
  display: inline-block;
  color: #fff;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  margin-right: 5px;
  font-weight: 600;
  font-size: 22px;
}

.banner-bg h3 {
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-bg {
  background-image: url("https://cdn.shopify.com/s/files/1/0103/1923/3081/files/39698006488f04c88e5e4390720fe3cb_7d3033ba-a9b7-4284-afb6-b1582c2871be.png?v=1681887584");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 30px;
}

@media (max-width: 767px) {
  .wh-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 10px;
  }

  .wh-container .item2,
  .wh-container .item3,
  .wh-container .item1 {
    width: 30%;
  }

  .wh-container .item4,
  .wh-container .item5,
  .wh-container .item6 {
    width: 30%;
  }

  .befores {
    width: 26px;
    font-size: 15px;
    height: 26px;
    line-height: 26px;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1499px) {
  .custom-contents {
    display: flex;
    align-items: center;
    height: 80%;
    position: relative;
    top: 0;
  }
}

