{{ page.content }}
<h2 style="text-align: center;">{{page.title}}</h2>
<style>
    .page-widths {
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
    }
    .product-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    select{
        font-size: 13px;
        margin: 0 10px;
    }

    .product {
        margin: 10px;
        flex: 0 0 calc(25% - 20px);
        /* 每个产品宽度为 25% - margin */
        box-sizing: border-box;
        /* 包括边框在内的宽度计算 */
    }

    .product-header {
        text-align: center;
    }

    .product-header img {
        max-width: 100%;
        /* 图片最大宽度为 100% */
        height: auto;
    }

    .product-title {
        font-size: 16px;
        font-weight: bold;
    }

    .product-params span {
        display: block;
        text-align: center;
        margin: 3px 0;
        border: 1px solid #ddd;
        padding: 7px 0;
    }

    .product-info img{
        max-width: 100px;
    }

    @media (max-width: 1200px) {
        .product {
            flex: 0 0 calc(33.33% - 20px);
            /* 在屏幕较小的情况下，每个产品宽度为 33.33% - margin */
        }
    }

    @media (max-width: 800px) {
        .product {
            flex: 0 0 calc(50% - 20px);
            /* 在屏幕更小的情况下，每个产品宽度为 50% - margin */
        }
    }

    @media (max-width: 600px) {
        .product {
            flex: 0 0 calc(100% - 20px);
            /* 在屏幕非常小的情况下，每个产品宽度为 100% - margin */
        }
    }
</style>
<style>
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
    }

    .sp_compare_tbl {
        max-width: 1500px;
        margin: 0 auto;
    }

    .sp_compare_tbl .sa_border {
        display: inline-block;
        width: 100%;
        border-left: 1px solid #cccccc !important;
        position: relative;
    }

    .sp_compare_tbl ul.sp_product_heading,
    .sp_compare_tbl ul.sp_product_con {
        padding: 0 !important;
        margin: 0 !important;
        border-top: 1px solid #cccccc;
    }

    .sp_compare_tbl .sp_product_heading {
        width: 10%;
        float: left;
    }

    .sp_compare_tbl .sp_product {
        display: table;
        width: 90%;
        table-layout: fixed;
    }

    .sp_compare_tbl .sp_product_con {
        display: table-cell;
        width: 25%;
        word-break: break-all;
    }

    .sp_compare_tbl ul.sp_product_heading>li {
        font-weight: bold;
        background: #f5f5f5 !important;
    }

    .sp_compare_tbl ul.sp_product_heading>li,
    .sp_compare_tbl ul.sp_product_con>li {
        word-wrap: break-word;
        float: left;
        padding: 12px;
        margin: 0 !important;
        list-style: none;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #cccccc !important;
        border-right: 1px solid #cccccc !important;
        position: relative;
        word-break: initial;
    }

    .sp_product_con .sp_image {
        display: flex !important;
        flex-direction: column;
    }

    .sp_product_con p.sp_add_title {
        font-weight: bold;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
        margin: 0px;
        line-height: 20px;
        color: #333;
    }
    
    .sp_compare_tbl * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 13px;
        color: #333;
    }

    .sp_product .product-info{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>
<div class="page-widths">
    <div class="main-compares">
        
        <ul class="product-list">
            <li id="whereToPlaceSelect">

            </li>

        </ul>
    </div>
</div>
<div class="sp_compare_tbl">
    <div class="sa_border">
        <ul class="sp_product_heading">
            <li class="sp_image" style="height: 158px;">Image</li>
            <li class="sp_title" style="height: 46px;">Title</li>
            <li class="sp_price" style="height: 46px;">Price</li>
            <li class="sp_ptype" style="height: 46px;">Type</li>
            <li class="sp_desc" style="height: 46px;">Description</li>
            <li data="sp_id_capital" class="sp_wifienabledpidcontroller" style="height: 69px;">
                wifi-enabled-pid-controller</li>
            <li data="sp_id_capital" class="sp_temperatureprobes" style="height: 69px;">temperature-probes</li>
            <li data="sp_id_capital" class="sp_grillgratematerial" style="height: 69px;">grill-grate-material
            </li>
            <li data="sp_id_capital" class="sp_stainlesssteelffs" style="height: 69px;">stainless-steel-ffs</li>
            <li data="sp_id_capital" class="sp_stainlesssteelbarrel" style="height: 69px;">
                stainless-steel-barrel
            </li>
            <li data="sp_id_capital" class="sp_directflamegrilling" style="height: 69px;">direct-flame-grilling
            </li>
            <li data="sp_id_capital" class="sp_warranty" style="height: 46px;">warranty</li>
            <li data="sp_id_capital" class="sp_interiorlighting" style="height: 46px;">interior-lighting</li>
            <li data="sp_id_capital" class="sp_castirondeflector" style="height: 69px;">cast-iron-deflector</li>
            <li data="sp_id_capital" class="sp_totalcookingspace" style="height: 69px;">total-cooking-space</li>
            <li data="sp_id_capital" class="sp_totalspacewithsecondshelf" style="height: 91px;">
                total-space-with-second-shelf</li>
            <li data="sp_id_capital" class="sp_numberofgrillgrates" style="height: 69px;">number-of-grill-grates
            </li>
            <li data="sp_id_capital" class="sp_minimumtemp" style="height: 46px;">minimum-temp</li>
            <li data="sp_id_capital" class="sp_maximumtemp" style="height: 46px;">maximum-temp</li>
            <li data="sp_id_capital" class="sp_riotmode" style="height: 46px;">riot-mode</li>
            <li data="sp_id_capital" class="sp_assemblytime" style="height: 46px;">assembly-time</li>
            <li data="sp_id_capital" class="sp_hoppercapacity" style="height: 46px;">hopper-capacity</li>
        </ul>
        <div class="sp_product" id="sp_product">
            <ul class="sp_product_con fill_cmp">
                <li class="sp_image" style="height: 158px;">
                    <p class="sp_add_title">Add a Product</p>

                </li>
                <li class="sp_title" style="height: 46px;"></li>
                <li class="sp_price" style="height: 46px;"></li>
                <li class="sp_ptype" style="height: 46px;"></li>
                <li class="sp_desc" style="height: 46px;"></li>
                <li class="sp_wifienabledpidcontroller same_cl" style="height: 69px;"></li>
                <li class="sp_temperatureprobes same_cl" style="height: 69px;"></li>
                <li class="sp_grillgratematerial same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelffs same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelbarrel same_cl" style="height: 69px;"></li>
                <li class="sp_directflamegrilling same_cl" style="height: 69px;"></li>
                <li class="sp_warranty same_cl" style="height: 46px;"></li>
                <li class="sp_interiorlighting same_cl" style="height: 46px;"></li>
                <li class="sp_castirondeflector same_cl" style="height: 69px;"></li>
                <li class="sp_totalcookingspace same_cl" style="height: 69px;"></li>
                <li class="sp_totalspacewithsecondshelf same_cl" style="height: 91px;"></li>
                <li class="sp_numberofgrillgrates same_cl" style="height: 69px;"></li>
                <li class="sp_minimumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_maximumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_riotmode same_cl" style="height: 46px;"></li>
                <li class="sp_assemblytime same_cl" style="height: 46px;"></li>
                <li class="sp_hoppercapacity same_cl" style="height: 46px;"></li>
            </ul>
            <ul class="sp_product_con fill_cmp">
                <li class="sp_image" style="height: 158px;">
                    <p class="sp_add_title">Add a Product</p>
                    
                </li>
                <li class="sp_title" style="height: 46px;"></li>
                <li class="sp_price" style="height: 46px;"></li>
                <li class="sp_ptype" style="height: 46px;"></li>
                <li class="sp_desc" style="height: 46px;"></li>
                <li class="sp_wifienabledpidcontroller same_cl" style="height: 69px;"></li>
                <li class="sp_temperatureprobes same_cl" style="height: 69px;"></li>
                <li class="sp_grillgratematerial same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelffs same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelbarrel same_cl" style="height: 69px;"></li>
                <li class="sp_directflamegrilling same_cl" style="height: 69px;"></li>
                <li class="sp_warranty same_cl" style="height: 46px;"></li>
                <li class="sp_interiorlighting same_cl" style="height: 46px;"></li>
                <li class="sp_castirondeflector same_cl" style="height: 69px;"></li>
                <li class="sp_totalcookingspace same_cl" style="height: 69px;"></li>
                <li class="sp_totalspacewithsecondshelf same_cl" style="height: 91px;"></li>
                <li class="sp_numberofgrillgrates same_cl" style="height: 69px;"></li>
                <li class="sp_minimumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_maximumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_riotmode same_cl" style="height: 46px;"></li>
                <li class="sp_assemblytime same_cl" style="height: 46px;"></li>
                <li class="sp_hoppercapacity same_cl" style="height: 46px;"></li>
            </ul>
            <ul class="sp_product_con fill_cmp">
                <li class="sp_image" style="height: 158px;">
                    <p class="sp_add_title">Add a Product</p>
                    
                </li>
                <li class="sp_title" style="height: 46px;"></li>
                <li class="sp_price" style="height: 46px;"></li>
                <li class="sp_ptype" style="height: 46px;"></li>
                <li class="sp_desc" style="height: 46px;"></li>
                <li class="sp_wifienabledpidcontroller same_cl" style="height: 69px;"></li>
                <li class="sp_temperatureprobes same_cl" style="height: 69px;"></li>
                <li class="sp_grillgratematerial same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelffs same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelbarrel same_cl" style="height: 69px;"></li>
                <li class="sp_directflamegrilling same_cl" style="height: 69px;"></li>
                <li class="sp_warranty same_cl" style="height: 46px;"></li>
                <li class="sp_interiorlighting same_cl" style="height: 46px;"></li>
                <li class="sp_castirondeflector same_cl" style="height: 69px;"></li>
                <li class="sp_totalcookingspace same_cl" style="height: 69px;"></li>
                <li class="sp_totalspacewithsecondshelf same_cl" style="height: 91px;"></li>
                <li class="sp_numberofgrillgrates same_cl" style="height: 69px;"></li>
                <li class="sp_minimumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_maximumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_riotmode same_cl" style="height: 46px;"></li>
                <li class="sp_assemblytime same_cl" style="height: 46px;"></li>
                <li class="sp_hoppercapacity same_cl" style="height: 46px;"></li>
            </ul>
            <ul class="sp_product_con fill_cmp">
                <li class="sp_image" style="height: 158px;">
                    <p class="sp_add_title">Add a Product</p>
                    
                </li>
                <li class="sp_title" style="height: 46px;"></li>
                <li class="sp_price" style="height: 46px;"></li>
                <li class="sp_ptype" style="height: 46px;"></li>
                <li class="sp_desc" style="height: 46px;"></li>
                <li class="sp_wifienabledpidcontroller same_cl" style="height: 69px;"></li>
                <li class="sp_temperatureprobes same_cl" style="height: 69px;"></li>
                <li class="sp_grillgratematerial same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelffs same_cl" style="height: 69px;"></li>
                <li class="sp_stainlesssteelbarrel same_cl" style="height: 69px;"></li>
                <li class="sp_directflamegrilling same_cl" style="height: 69px;"></li>
                <li class="sp_warranty same_cl" style="height: 46px;"></li>
                <li class="sp_interiorlighting same_cl" style="height: 46px;"></li>
                <li class="sp_castirondeflector same_cl" style="height: 69px;"></li>
                <li class="sp_totalcookingspace same_cl" style="height: 69px;"></li>
                <li class="sp_totalspacewithsecondshelf same_cl" style="height: 91px;"></li>
                <li class="sp_numberofgrillgrates same_cl" style="height: 69px;"></li>
                <li class="sp_minimumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_maximumtemp same_cl" style="height: 46px;"></li>
                <li class="sp_riotmode same_cl" style="height: 46px;"></li>
                <li class="sp_assemblytime same_cl" style="height: 46px;"></li>
                <li class="sp_hoppercapacity same_cl" style="height: 46px;"></li>
            </ul>
        </div>
    </div>

</div>
{% assign product_info_json = page.metafields.global.comparison_parameters.value %}
<script>
    var allProductInfo = {{ product_info_json | json }};

    document.addEventListener('DOMContentLoaded', function () {
    var params = new URLSearchParams(window.location.search);
    var productHandles = params.get('handles');
    var numberOfSelects = 4; // 总共需要展示的产品数量

    if (productHandles) {
        var handlesArray = productHandles.split(',');
        var handlesCount = handlesArray.length;

        // 检查handles数量是否在2到4之间
        if (handlesCount >= 2 && handlesCount <= 4) {
            handlesArray.forEach(function (handle, index) {
                fetchProductInfoByHandle(handle, index);
            });

            numberOfSelects -= handlesCount; // 减去handles的数量
        } else {
            // 如果handles数量不在2到4之间，可以在这里处理
            alert("The number of product handles must be between 2 and 4.");
            return; // 终止执行
        }
    }

    // 生成剩余的下拉选择框
    for (var i = handlesCount; i < numberOfSelects + handlesCount; i++) {
        fetchAndCreateSelect(i);
    }
});

// fetchProductInfoByHandle 和 fetchAndCreateSelect 函数保持不变



    function fetchProductInfoByHandle(handle, index) {
    $.get('/products/' + handle + '.js', function (response) {
        var product = JSON.parse(response);
        var productHtml = '<div class="product-info">' +
            '<button class="close-btn">X</button>' +
            '<img src="' + product.featured_image + '" alt="' + product.title + '">' +
            '<div class="product-title">' + product.title + '</div>';

        // 检查是否有额外的产品信息
        if (allProductInfo[handle]) {
            var productParamsHtml = '<div class="product-params">';
            Object.keys(allProductInfo[handle]).forEach(function (key) {
                productParamsHtml += '<span>' + key + ': ' + allProductInfo[handle][key] + '</span>';
            });
            productParamsHtml += '</div>';
            productHtml += productParamsHtml;
        }

        productHtml += '</div>';

        var $spImage = $('.sp_product').find('.sp_image').eq(index);
        $spImage.empty().append(productHtml); // 替换下拉框为产品信息

        $spImage.find('.close-btn').on('click', function() {
            $spImage.empty(); // 移除产品信息
            fetchAndCreateSelect(index); // 重新添加下拉框
        });
    }).fail(function () {
        console.error("Error fetching product information for handle:", handle);
    });
}


function fetchAndCreateSelect(index) {
    // 检查下拉框是否已经存在
    var existingSelect = $('#productSelect' + index);
    if (existingSelect.length > 0) {
        return; // 如果下拉框已存在，不再创建新的
    }

    $.get('/collections/wood-pellet-grills/products.json', function (data) {
        var products = data.products;
        var selectHtml = '<select id="productSelect' + index + '">';

        products.forEach(function (product) {
            selectHtml += '<option value="' + product.handle + '">' + product.title + '</option>';
        });

        selectHtml += '</select>';

        var $spImage = $('.sp_product').find('.sp_image').eq(index);
        $spImage.empty().append(selectHtml); // 确保先清空已有内容

        $('#productSelect' + index).on('change', function () {
            var selectedHandle = $(this).val();
            fetchProductInfoByHandle(selectedHandle, index);
        });
    }).fail(function () {
        console.error("Error fetching products from the collection");
    });
}





</script>